body{
  font-family: Papyrus;
  width: 100%;
}
.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  display: flex;
  align-items: center;
  /* z-index: 9; */
}
.ftco-navbar-light.scrolled.sleep {
    transition: .3s all ease-out;
    
}
.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
   
}
.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    color: black !important;
    margin-top: -130px;
    background: #fff !important;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    
}
.navbar-dark .navbar-brand {
    color: #fff !important;
}


.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 8rem !important;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    
   
}
.navbar-brand img{
  width: 150px;
}
.oi {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    
}
.navbar-nav{
    margin-left: 175px;
    
   
   
}
.ftco-navbar-light.scrolled .navbar-brand {
    color: #bb0826 !important;
}
.navbar-nav li .nav-link{
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color:#bb0826 !important;
    opacity: 1 !important;
    padding-left:20px !important;
}

.ftco-navbar-light .nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f0f0f0 !important;
    opacity: 1 !important;
   
}

.ftco-navbar-light .nav-link{
    color: #fff !important;
    opacity: .8;
}
.nav-item > .nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f0f0f0 !important;
    opacity: 1 !important;
}
.home-slider{
    z-index: 0;
    position: relative;

}
.home-slider .slider-item{
    background: url(../image/visa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 117px);
    position: relative;
    min-height: 700px;
   
    
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background:  #656363;
    opacity: .7;
}


.ftco-animate h1{
    color: #fff;
    margin-top: 200px !important;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 50px;
}
.ftco-section-2 .section-2-blocks-wrapper .img {
    background-position: center center;
    background-size: cover;
}
.home-slider .slider-item .slider-text {
    color: #fff;
   
}
.breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
   
}
.home-slider .slider-item .slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(250, 250, 250, 0.8);
    opacity: .9;
    margin-left: 30px;
    
}
.home-slider .slider-item .slider-text span a{
 text-decoration: none;
 color: #fff;
 margin-right: 50px;
 

}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.carousel-engine{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
@media screen and (max-width:992px){
  .navbar-brand img {
    width: 195px;
  }
  .navbar-nav {
    margin-left: 33px;
  }
}
@media screen and (max-width:768px){
  .ftco-animate h1 {
    font-size: 49px;
  }
  .home-slider .slider-item .slider-text span a {
    margin-right: 27px;
  }
  .home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 17px;
  }
  .navbar-nav {
    margin-left: 33px;
  }
  .navbar-brand {
    margin-right: 1rem !important;
  }
  .navbar-nav li .nav-link {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 16px !important;
  }
  .navbar-brand img {
    width: 182px;
  }
  .content-call-img img {
    height: 100%;
  }
  .Permanent-content p {
    font-size: 12px;
  }

}
@media screen and (max-width:576px){
  .ftco-animate h1 {
    font-size: 41px;
  }
  .home-slider .slider-item .slider-text span a {
    margin-right: 14px;
  }
  .home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 12px;
  }
  .navbar-nav {
    margin-left: 0px;
  }
  .navbar-brand {
    margin-right: .5rem !important;
  }
  .navbar-nav li .nav-link {
    font-size: 10px;
    padding-left: 13px !important;
  }
  .navbar-brand img {
    width: 135px;
  }
  .filter__form h2 {
    font-size: 16px !important;
  }
 .filter-search .container {
    max-width: 576px;
 }
 .filter__form p {
  font-size: 9px !important;
}
.page-content-permanent h2 {
  font-size: 34px !important;
}
.svg-inline--fa.fa-w-14 {
  width: 0.475em !important;
}
.Permanent-content a {
  font-size: 17px !important;
}
.Permanent-content p {
  font-size: 13px !important;
}
.content-call-img {
  margin-top: -69px !important;
}
.page-content-call {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.content-call h3 {
  font-size: 29px !important;
}
.content-call p{
  font-size: 15px !important;
}
.svg-inline--fa.fa-w-16 {
  width: .7em;
}
.content-call span {
  margin-bottom: 5px;
}
 
}
@media screen and (max-width:360px){
  .home-slider .slider-item{
    height: calc(90vh - 117px);
    min-height: 393px;
  }
  .ftco-animate h1 {
    margin-top: 95px !important;
    font-size: 28px;
  }
  .home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 8px !important;
  }
  .home-slider .slider-item .slider-text p {
    font-size: 10px;
    margin-left: 3px;
  }
  .navbar-nav {
    margin-left: 0px;
  }
  .navbar-brand {
    margin-right:0 !important;
  }
  .navbar-nav li .nav-link {
    font-size: 7px;
    padding-left: 3px !important;
  }
  .navbar-brand img {
    width: 90px;
  }
  .filter__form h2 {
    font-size: 14px !important;
  }
 .filter-search .container {
    max-width: 360px;
 }
 .filter__form p {
  font-size: 9px !important;
}
.page-content-permanent h2 {
  font-size: 40px !important;
}
.svg-inline--fa.fa-w-14 {
  width: 0.275em !important;
}
.Permanent-content a {
  font-size: 8px !important;
}
.Permanent-content p {
  font-size: 6px !important;
}
.content-call-img {
  margin-top: -30px !important;
  margin-bottom: 5px;
}
.page-content-call {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
  height: 30vh;
}
.content-call h3 {
  font-size: 21px !important;
}
.content-call p {
  font-size: 12px !important;
}
.svg-inline--fa.fa-w-16 {
  width: .5em;
}
 

}

/* .product{
    width: 100%;
    height: 100vh;
} */
.form{
  width: 100%;
  height: 50vh;
}
.form ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.form ul li{
  width: 80%;
  list-style: none;
  margin-top: 100px;
  transition: all .5s ease-in-out;
}
.form ul li h3{
  border-bottom: 4px solid #BE202E;
  padding: 15px 10px;
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
  
}
.form-btn{
  width: 100%;
  font-family: "Noto Sans", Sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #BE202E;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #BE202E;
  border-radius: 3px;
  color: #fff;
  padding: 10px  ;
}
.form-btn:hover{
  background-color: #fff;
}
.form-btn a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.form-btn a:hover{
  color: #BE202E;
 
}


.product ul{
    width: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product ul li{
    width: 26%;
    list-style: none;
    margin-top: 100px;
    transition: all .5s ease-in-out;
}
.product ul li h3{
    border-bottom: 4px solid #BE202E;
    padding: 15px 10px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.product-btn{
    font-family: "Noto Sans", Sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #BE202E;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #BE202E;
    border-radius: 3px;
    color: #fff;
    padding: 10px 90px;
}
.product-btn a{
  color: #fff;
  text-decoration: none;
}
.product-btn:hover a {
    color: #2E2E2E;   
}


@media screen and (max-width:768px){
  .form{
    width: 100%;
    height: 60vh;
  }
 
  .form ul li h3{
    border-bottom: 4px solid #BE202E;
    padding: 15px 10px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    
  }
  .form-btn{
    width: 100%;
    font-family: "Noto Sans", Sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #BE202E;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #BE202E;
    border-radius: 3px;
    color: #fff;
    padding: 10px  ;
  }
  .form-btn a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
}
@media screen and (max-width:576px){
  .form ul li h3{
    border-bottom: 4px solid #BE202E;
    padding: 15px 10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    
  }
  .form-btn a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
}
@media screen and (max-width:360px){
  .form ul li h3{
    border-bottom: 4px solid #BE202E;
    padding: 15px 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    
  }
}



.page-content-call{
    display: flex; 
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #c91231;
    
 }
 .content-call{
  display: flex;
  flex-direction: column;
  margin-top:25px !important;
 }
 .content-call h3{
   color: #fff;
   font-size: 35px;
 }
 .content-call-img{
  display: block;
  margin-top: -100px;
}
 .content-call-img img{
  max-width: 100%;
  /* height: 600px; */
  transition: all 0.3s ease-out 0s;
 
 }
 .content-call p{
  color: #fff;
 }
 .content-call span{
     color: #fff;
 }
 .content-call svg{
     font-size:2rem;
     color: #5db122;
     margin-bottom: 10px;
 }

 @media screen and (max-width:992px){
  .page-content-call {
    margin-top: 3px;
    margin-bottom: 79px;
  }
 }
 @media screen and (max-width:768px){
  .page-content-call {
    margin-top: 0px;
    margin-bottom: 50px;
  }
 }
 @media screen and (max-width:576px){
  .page-content-call {
    margin-top: -15px !important;
    margin-bottom: 50px;
  }
 }
 @media screen and (max-width:360px){
  .page-content-call {
    margin-top: -70px !important;
    margin-bottom: 50px;
  }
 }
 
 .footer-section {
     background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(../image/canada02.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
   
    
   }
   .footer-section .container{
     width:100%
   }
   .footer-cta {
     border-bottom: 1px solid #373636;
     padding-top: 5px;
     padding-bottom: 5px;
     height: 140px;
     padding-left: 28px;
   }
   .single-cta {
     margin-right: 60px;
     margin-left: -8px;
   }
   .single-cta svg {
     color:  #bb0826 !important;
     font-size:30px;
     float: left;
     margin-top: 8px;
   }
   .cta-text {
     padding-left: 15px;
     display: inline-block;
     justify-content:space-evenly;
   }
   .cta-text h4 {
     color: #fff;
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 2px;
     margin-right: 15px;
     margin-top: 11px;
   
   }
   .cta-text span {
     color: #cfc6c6;
     font-size: 15px;
   }
   .footer-content {
     position: relative;
     z-index: 2;
     
   }
   .footer-pattern img {
     position: absolute;
     top: 0;
     left: 0;
     height: 330px;
     background-size: cover;
     background-position: 100% 100%;
   }
   /* .footer-logo {
     margin-top: 30px;
     display: flex;
     justify-content: space-around;
     text-align: center;
    
   } */
   .footer-logo img {
       max-width: 200px;
      
   }
   .footer-logo p {
     margin-bottom: 12px;
     font-size: 16px;
     color: #cfc6c6;
     /* line-height: 50px; */
 
   }
   .footer-social-icon span {
     color: #cfc6c6;
     display: block;
     font-size: 20px;
     font-weight: 700;
     font-family: 'Poppins', sans-serif;
     margin-bottom: 20px;
   }
   .footer-social-icon a {
    color: #fff;
     font-size: 16px;
     margin-right: 15px;
   }
   .footer-social-icon svg {
     height: 40px;
     width: 38px !important;
     text-align: center;
     line-height: 22px;
     border-radius: 45%;
   
   }
   .facebook-bg{
     background: #3B5998;
   }
   .telegram-bg{
     background: #55ACEE;
   }
   .google-bg{
     background:  #bb0826;
   }
   .instagram-bg{
     background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)
   }
   .footer-widget-brand .footer-logo{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content:space-between !important;
   }
   .footer-widget-left{
    width: 80%;
    display: flex;
    flex-direction: column;
   }
   .footer-widget-left h3 {
     color: #fff;
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 40px;
     position: relative;
   }
   .footer-widget-left h3::before {
     content: "";
     position: absolute;
     left: 5;
     bottom: -15px;
     height: 2px;
     width: 50px;
     background:  #bb0826;
   }
   .footer-widget-left ul li {
     width: 100%;
     margin-bottom: 12px;
     list-style: none !important;
   }
   .footer-widget-left ul li a:hover{
     color:  #bb0826;
   }
   .footer-widget-left ul li a {
     color: #cfc6c6;
     text-transform: capitalize;
     text-decoration: none;
    
   }
   .footer-widget-right{
     width: 50%;
    display: block;
     
    
   }
   .footer-widget-right h3{
     color: #fff;
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 40px;
     position: relative;
   }
   .footer-widget-right h3::before {
     content: "";
     position: absolute;
     left: 5;
     bottom: -15px;
     height: 2px;
     width: 50px;
     background:  #bb0826;
   }
   .footer-widget-right p{
    color:#cfc6c6;
   }
   .subscribe-form {
     /* position: relative; */
     display:flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
   }
   .subscribe-form input {
     width: 100%;
     padding: 12px 20px;
     background: #2E2E2E;
     border: 1px solid #2E2E2E;
     color: #fff;
     text-align: left;
   }
   .subscribe-form button {
      
       background: #bb0826;
       padding: 6px 20px;
       border: 1px solid  #bb0826;
       
   }
   .subscribe-form button i {
     color: #fff;
     font-size: 22px;
     transform: rotate(-6deg);
   }
   .copyright-area .row{
     background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.7))    ;
     padding: 25px 0;
     display: flex;
     align-items: center;
     justify-content:space-around;
   }
   .copyright-text p {
     margin: 0;
     font-size: 14px;
     color: #878787;
   }
   .copyright-text p a{
     color:  #bb0826;
     text-decoration: none;
   }
   .footer-menu li {
     display: inline-block;
     margin-left: 20px;
   }
   .footer-menu li:hover a{
     color:  #bb0826;
   }
   .footer-menu li a {
     font-size: 14px;
     color: #878787;
   }

   @media screen and (max-width:768px){
    .single-cta {
      margin-right: 0px;
    }
    .single-cta svg {
      font-size: 23px;
    }
  .footer-logo img {
    max-width: 224px;
   }
   .footer-widget-left h3 {
    font-size: 16px;
  }
  .footer-widget-right h3 {
    font-size: 12px;
  }
  .subscribe-form input {
   
    padding: 8px 11px;
  }
  .subscribe-form button {
    padding: 4px 6px;
  }
  }
  @media screen and (max-width:576px){
    .footer-cta {
      height: 150px;
      padding-left: 0px;
    }
    .single-cta {
      margin-right: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .single-cta svg {
      font-size: 20px;
    }
    .cta-text h4 {
      font-size: 15px;
    }
    .cta-text span {
      font-size: 11px;
    }
    .footer-widget-left h3 {
      font-size: 14px;
    }
    .footer-widget-right h3 {
      font-size: 11px;
    }
    .subscribe-form input {
     
      padding: 3px 4px;
    }
    .subscribe-form button {
      padding: 2px 2px;
    }
    .footer-widget-left ul li a{
      font-size: 12px;
    }
    .footer-widget-right p{
      font-size: 13px;
    }
    .divif1 .barcode {
      width: 72px;
      height: 74px;
    }
    .divif1 .logo-footer .logoo {
      width: 204px;
      height: 159px;
    }
  }
  @media screen and (max-width:360px){
    .footer-cta {
      height: 148px;
      padding-left: 0px;
    }
    .single-cta {
      margin-right: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content: center;
    }
    .single-cta svg {
      font-size: 20px !important;
    }
    .cta-text h4 {
      font-size: 12px;
    }
    .cta-text span {
      font-size: 9px;
    }
    .footer-logo img {
      max-width: 189px;
    }
    .footer-logo p {
      margin-bottom: 7px;
      font-size: 12px;
    }
    .footer-widget-left h3 {
      font-size: 14px;
    }
    .footer-widget-right h3 {
      font-size: 11px;
    }
    .subscribe-form input {
     
      padding: 3px 4px;
    }
    .subscribe-form button {
      padding: 2px 2px;
    }
    .footer-widget-left ul li a{
      font-size: 12px;
    }
    .footer-widget-right p{
      font-size: 13px;
    }
    
    .divif1 .logo-footer .logoo {
      width: 150px;
      height: 149px;
    }
    .divif1 .barcode {
      width: 60px !important;
      height: 60px !important;
    }
    #barcode p {
      font-size: 11px !important;
    }
  }
 


